.parent {
    font-family:  sans-serif;
    display: grid;
    grid-template-columns: 20vw 40vw;
    justify-content: center;
  }

  .box1 {
    background-color: aqua;
    height: 100%;
    padding: 10px;
    overflow: auto;
    
  }
  .box2 {
    padding: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(214, 229, 227);
    height: 100%;
   
    overflow: hidden;
  }
  .education{
  display: flex;
  flex-direction: column;
  }

  .college{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
  }

  .india{
    margin-top: -30px;
  }

  .header{
    text-align: center;
    margin-bottom: 40px;
  }

  a{
    text-decoration: none;
    color: rgb(46, 46, 46);
  }

  